* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body {
    background-color: #0b0f19;
}

nav {
    background: rgba(10, 15, 25, 0.9);
    padding: 12px 40px;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 229, 255, 0.3);
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200%;
  height: 2px;
  background: linear-gradient(
    90deg,
    #00e5ff,
    #ff00ff,
    #00ff99,
    #ffcc00,
    #00e5ff
  );
  background-size: 400%;
  animation: rgbGlow 5s linear infinite;
}

@keyframes rgbGlow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.logo span {
  color: #00ccff;
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #00ccff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: all 0.3 ease;
}

.nav-links a:hover {
  color: #fff;
  text-shadow: 0 0 10px #00e5ff, 0 0 20px #ff00ff, 0 0 30px #00ffcc;
  transform: translateY(-2px);
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #00ccff, #ffffff);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}