* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0a0f1f;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #0a0f1f;
    width: 100px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 0 25px rgba(10, 211, 211, 0.15);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo span {
    font-weight: 15px;
    padding-left: 15px;
    top: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 13px;
    display: table;
    width: 300px;
    padding: 20px;
}

li a .icon {
    position: relative;
    width: 60px;
    height: 20px;
    top: 14px;
    font-size: 2px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 8px;
    margin-left: 20px;
}

a:hover {
    background: #00b7ff;
}

nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}